.fade-in {
  animation: fade-in ease 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.banner {
  min-height: 50vh;

  @screen lg {
    min-height: 95vh;
  }
}

.social-icons:last-child .icon {
  @apply mr-0;
}

.content {
  @apply !pb-0;
}

.collapse .view .title {
  @apply dark:text-white;
}

.link-underline {
  position: relative;
}

.link-underline:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: linear-gradient(transparent, transparent),
    linear-gradient(to right, #10df9a, #10b981);
  transition: width 0.25s ease;
  -webkit-transition: width 0.25s ease;
}

.link-underline:hover:after {
  width: 98%;
  left: 0;
  background: linear-gradient(transparent, transparent),
    linear-gradient(to right, #10df9a, #10b981);
}

.special-underline {
  @apply bg-gradient-to-r from-primary-color-500 to-primary-color-500 bg-no-repeat pb-0.5
    font-normal [background-position:0_100%]
    [background-size:100%_0.2em]
    hover:text-white hover:[background-size:100%_100%]
    focus:[background-size:100%_100%]
    motion-safe:transition-all
    motion-safe:duration-300
    dark:from-primary-color-dark-500 dark:to-primary-color-dark-500 dark:hover:text-white;
}

.special-underline-new {
  @apply bg-gradient-to-r from-primary-color-500 to-primary-color-500 bg-no-repeat pb-1
    font-normal [background-position:0_100%]
    [background-size:100%_0.1em]
    hover:text-white hover:[background-size:100%_100%]
    focus:[background-size:100%_100%]
    motion-safe:transition-all
    motion-safe:duration-300
    dark:from-primary-color-dark-500 dark:to-primary-color-dark-500 dark:hover:text-white;
}
